.article__title {
    font-size: 26px;
    font-weight: normal;
}

.article__thumb {
    float: left;

    width: 251px;
    height: 141px;
    margin-right: 12px;
}

@media only screen
    and (min-width: 320px)
    and (max-width: 480px)
    and (orientation: portrait) {

    .article__thumb {
        width: 100%;
        height: auto;
        float: none;
    }

}
